*-clang
*-clang-noopt
*-gcc
*-gcc-noopt
*-noopt
opt[0-9]
intrep
ptrarith
safesignedloop
signedloop
unsignedloop
signedoverflow
unsignedoverflow
tablelookup
ubsafeloop
ubsignedinc
ubsignedloop
ubtable
ubunsignedloop
wtf
